<app-navigation></app-navigation>
<div class="home container-fluid">
  <div class="overlay">
    <section class="her-wrap js-fullheight " data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
          data-scrollax-parent="true">
          <!-- <div class="content col-md-6"> -->
            <!-- <div class="subh"> -->
              <!-- <span class="subheading">Welcome to MediVault</span> -->
              <h1 class="head">Welcome to MediVault</h1>
              <!-- <h1 class="mb-4">We are here <br />for your Care</h1> -->
              <!-- <h1>Health Record System</h1> -->
              <!-- <figure class="text-start">
                <blockquote class="blockquote">
                  <p>MediVault is a secure blockchain based platform for storage of highly sensitive and critical data related to patients that is shared among multiple facilities and agencies for effective diagnosis and treatment..</p>
                </blockquote>
              </figure> -->
              <div class="book">
              <p class="mb-4"> </p>
              <p><a [routerLink]="['appointment']" class="btn btn-primary button py-3 px-4 rounded-pill">Make an appointment</a></p>
              <p><a class="btn btn-primary button py-3 px-4 rounded-pill" [routerLink]="'patient'">  Patient</a></p>
              <p><a class="btn btn-primary button py-3 px-4 rounded-pill" [routerLink]="'doctor'"> Doctor</a></p>
            </div>
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </section>
  </div>
</div>

<app-getstart></app-getstart>
<app-sec></app-sec>
<app-contact></app-contact>

<app-footer></app-footer>
