<section class="contact section container" id="contact">
    <div class="contact__container grid">
        <div class="contact__content">
            <h2 class="section__title-center">Contact Us</h2>
            <p class="contact__description">You can contact us from here, you can write to us,
                call us for suggestions and enhancements.</p>
        </div>

        <div class="contact">
        <ul class="contact__content grid">
            <li class="contact__address">Telephone: <span class="contact__information">+91 9674891497</span>
            </li>
            <li class="contact__address">Email: <span
                    class="contact__information">kumarsubham75861@gmail.com</span></li>
            <li class="contact__address">Location: <span class="contact__information">IIT (ISM) Dhanbad - Jharkhand 492010</span></li>
        </ul>
    </div>

    </div>
</section>