<div class="bg">
<section class="services section container" id="about">
    <h2 class="section__title">Getting started is quick and easy</h2>
    <div class="services__container grid">
      <div class="services__data">
        <h3 class="services__subtitle">Register Yourself</h3>
        <img class="services__img" src="../../assets/images/user.svg" />
        <p class="services__description">
          Register yourself to the locker, secured by blockchain
          technology.
        </p>
      </div>

      <div class="services__data">
        <h3 class="services__subtitle">Authenticate Yourself</h3>
        <img class="services__img" src="../../assets/images/tick.svg" />
        <p class="services__description">
          Log In with your credentials.
        </p>
      </div>

      <div class="services__data">
        <h3 class="services__subtitle">Upload your Data</h3>
        <img class="services__img" src="../../assets/images/upload.svg" />
        <p class="services__description">
          Create, update, or view your health record information.
        </p>
      </div>
    </div>
  </section>
</div>