<div class="top">
    <h2 class="head">Services we deliver</h2>

    <div class="services__container grclass" >

      <div class="services__data">
        <h5 class="services__subtitle">Maintaining Medical Records</h5>
        <img class="services__img" src="../../assets/images/store.png" />
        <p class="services__description">
        Keep track of your medical records, enabled by blockchain
          technology.
        </p>
      </div>

      <div class="services__data">
        <h5 class="services__subtitle">Connect With Doctors</h5>
        <img class="services_img" src="../../assets/images/doc.svg" />
        <p class="services__description">
        Share your records with our trusted medical experts, to get a prescription.
        </p>
      </div>

      <div class="services__data">
        <h5 class="services__subtitle">Disease Prediction Model</h5>
        <img class="servicesimg" src="../../assets/images/disease.png" />
        <p class="services__description">
        Get a quick diagnosis about diseases you might suffer from, based on our ML model.
        </p>
      </div>

    </div>

</div>

